@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*------------------------------------------------Colors */

.bg-color-header {
    background-color: #e04d4d;
}

.bg-color-menu {
    background-color: #6d6d6d;
}

.bg-color-footer {
    background-color: #e04d4d;
}

.bg-color-our-history {
    background-color: #fff;
}

.bg-color-membership-options {
    background-color: #f4f4f4;
}

.bg-color-fees-schedule {
    background-color: #f8ecec;
}

.bg-color-teams {
    background-color: #f4f4f4;
}

.bg-color-gallery {
    background-color: #c7c5c5;
}

/*------------------------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background: rgba(0,0,0,0.2);
    height: 46px;
    width: 100%;
}


/*------------------------------------------------Header */

header {
    margin: 0;
}

.logo {
    background: url("../images/SelseyCCLogo3.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.club-name {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 30px;
    color: #fafafa;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#nav li {
    font-size: 14px;
}

#nav a {
    display: inline-block;
}

.menuitem {
    height: 30px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    font-weight: 100;
    color: #fafafa;
    text-decoration: none;
    height: 30px;
    padding-top: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading {
    padding-left: 30px;
}

.menu-list {
    padding-left: 130px;
}

.list-inline-item:not(:last-child) {
    margin-right: 0px;
}

/*------------------------------------------------Home Page */

.home-banner-container {
    height: 100vh;
    background: url("../images/Homepage-Banner-Image.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.block-divider {
    width: 150px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--red {
    background-color: #e04d4d;
}

.home-banner-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 30px;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase; 
    margin-bottom: 10px; 
    letter-spacing: 1px;  
}

.description {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
    color: #fafafa;
    text-align: center;
    margin-bottom: 30px;  
}

/*------------------------------------------------About Us Page */

.about-banner-container {
    height: 40vh;
    background: url("../images/About-Banner-Image.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.about-section-heading {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 15px;
}

.para-text {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    text-align: left;
}

/*------------------------------------------------Teams Page */

.teams-banner-container {
    height: 50vh;
    background: url("../images/Teams-Banner-Image.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.teams-header {
    margin-top: 20px;
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.team-number {
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 0;
    text-align: center;
}

.team-list {
    padding-left: 90px;
}

/*------------------------------------------------Gallery Page */

.gallery-images {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    padding-left: 0;
    padding-right: 0;
}

.gallery-images img{
    width: 100%;
}

.gallery-images {
    column-count:3;
}

@media screen and (max-width: 800px) {
    .gallery-images {
     column-count:2;
}
}

.gallery-signup-btn {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    margin-bottom: 30px;
}

/*------------------------------------------------Contact Us Page */

.contact-banner-container {
    background: url("../images/Contact-Banner-Image.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

 #map {
   position: relative;
   margin-bottom: 15px;
   padding-top: 30px
}

 @media(min-width:992px) {
    .map-section {
        padding-top: 30px;
        margin: 0 auto;
        min-height: 240px;
        max-width: 50%;
}
}

@media (min-width:768px) {
.map-section { 
        flex: 0;
}
}        

.directions {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-weight: 200;
    font-size: 12px;
    color: #fff;
 }

.form-section {
    position: center;
    margin-bottom: 600px;
}

@media(min-width:992px) {
    .form-section {
        padding-top: 30px;
        margin: 0 auto;
        min-height: 240px;
        max-width: 50%;
}
}

.signup-form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: relative;
    padding: 30px;
    margin: auto;
    margin-bottom: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.text-input:hover{ 
    border-color: #f16c6b;
}

.btn-contact {
    margin-left: 70px;
}

.signup-form-heading {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 300;
    color: #fafafa
}

.officers-section-heading {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 15px;
}

/*------------------------------------------------Footer */

footer {
    background-color: #e04d4d;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #912b0a;
}

#footer-details {
    padding-top: 50px;
}
/*------------------------------------------------Special paddings/margins/text */

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fafafa;    
}

.inline-block {
    display: inline-block;
}

.h2, h2 {
    font-size: 1.5rem;
}

/*------------------------------------------------Registration / Sign Up button*/

.btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #e04d4d;
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 200px;
}

.btn--red {
    color: #fafafa;
    background-color: #e04d4d;
    border-color: #e04d4d;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #b42a0c;
    border-color: #b42a0c;
    color: #fafafa;
}

.btn-home {
    margin-left: 90px;
}